@CHARSET "UTF-8";

/*To make footer*/

footer{
	width:100%;
	top:720px;
	left:0;
	position:fixed;
	/* clear:both; */
	background-color:#00cdcd;
	padding: 1.5em 0;
	z-index:5;
}

footer > div{
	color:white;
	text-align:center;
}