@CHARSET "UTF-8";

/*To make selection table*/

div#selectionTable{
	width: 80%;
	height:370px;
	margin: auto;
}

.step{
	background-color: #ededed;
	float:left;
	border-left:2px solid #bcbcbc;
	border-right:2px solid #bcbcbc;
}

.stepTitle{
	display:block;
	margin: 0;
	padding: 0;
	background-color:#ff9797;
	color: white;
	width:253px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-family:나눔고딕;
	font-weight:300;
	font-size:14pt;
	/* border: 1px solid lightgray; */
}

.stepContents{
	width:253px;
	height:320px;
	overflow:auto;
}

.stepContent{
	text-align:center;
	padding: 10px 0;
	font-family:나눔고딕;
	font-weight:400;
	font-size:12pt;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.stepContents::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius:10px;
}

.stepContents::-webkit-scrollbar
{
	width: 6px;
	background-color: #6e6e6e;
	border-radius:30%;
}

.stepContents::-webkit-scrollbar-thumb
{
	background-color: #474747;
	border-radius:10px;
}

div#googleMapTitle{
	width:269.5px;
}

div#map{
	margin:auto;
	width:270px;
	height:320px;
}

.googleMapWrapper{
	width:253px;
	height:320px;
}

.box-font{
	text-decoration:none;
	color:darkgray;
	font-family:나눔고딕;
	cursor:pointer;
}

.box-font:hover{
	font-weight:600;
	color:#69D2E7;
}

.stepContent:hover{
	background-color:#fadce7;
}

.box-font-active{
	font-weight:600;
	color:#69D2E7;
}

.stepContent-active{
	background-color:#fadce7;
}
