@CHARSET "UTF-8";

.ps_detail_body{position:absolute; top:12%; left:15%; width:70%; margin:auto; height:auto; text-align: center;}

.ps_detail_timeline{padding: 20px 0; magin:0px; list-style: none;}
.ps_detail_timeline:before{top: 0;bottom: 0; position: absolute; content: " ";width: 3px;background-color: #eee;left: 50%;
	margin-left: -1.5px;}
.ps_detail_timeline>ul{maring:0px; padding:0px;}
.ps_detail_timeline>ul>li:nth-child(1){margin-top: 0px;}
.ps_detail_timeline>ul>li:nth-child(2){margin-top: 60px; margin-bottom: 40px;}
.ps_detail_li{position:relative; width:50%; padding:0px; margin:20px 0px; list-style: none;}
.ps_detail_card{position:relative; display:inline-block; width:90%; border: 1px solid #d4d4d4; margin:0px auto; padding:10px;}
.detail_card_img{position:relative; width:100%; margin: 0px auto; padding:0px;}
.detail_card_img>img{position:relative; width:100%;}
.detail_facade{float:left;}
.detail_inverted{float:right;}

.ps_detail_context{margin: 15px 0px; padding:0px; text-align: left;}
.detail_hr{width: 95%}
.ps_detail_like{position:relative; margin:0px 5px; padding:0px; width:100%; height: auto;}
.ps_detail_like>span>img{width:20px; height: 20px; margin: 0px 4px;}
.ps_detail_like>span{ margin:0px 1px; padding:0px; float:left;}
.ps_detail_comment{margin: 0px; padding:0px; text-align: left;}
.ps_detail_comment>p{margin:0 0 0 12px; padding:0px;}

.ps_detail_user{position: relative; top:-6px; left:0%; width: 100%; padding: 0px; margin: 0px;}
.ps_detail_user>div{display:inline;}
.ps_detail_user_img{position:relative; top:13px;}
.ps_detail_user_img>img{ width: 36px; height: 36px;}
.ps_detail_user_input>input{width:85%; height: 30px;}

.ps_detail_timeline > li > .ps_detail_card:before {position: absolute;top: 26px;right: -15px;display: inline-block;
		content: " ";}

